/* Fuente principal */

body {
  font-family: "Newsreader", serif !important;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

h1, h2, h3 {
  font-weight: 700;
}

p {
  line-height: 1.6;
  margin-top: 10px;
}

:root {
  --color-principal: #15345e;
  --color-fondo: #f7f7f7;
  --gris-oscuro: #333;
  --gris-header: #f0f0f0;
}

body {
  margin: 0;
  padding: 0;
  background-color: #e0e0e0; /* Gris general, por si algo queda fuera */
}

.contenido-principal {
  background: linear-gradient(to bottom, #15345e, #1f1f1f);
  color: #f9f9f9;
  padding: 40px 20px;
  min-height: 100vh;
}

/* Ajuste para títulos y textos */
.contenido-principal h1,
.contenido-principal h2,
.contenido-principal p {
  color: #ffffff;
}


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

header {
  background-color: #15345e;
  padding: 40px 0;
}

.titulo-principal {
  color: #f0f0f0;
  text-align: center;
  font-size: 2rem;
}

.subtitulo {
  margin-top: 100px;
  text-align: left;
  padding: 30px 0 10px;
}

.subtitulo h2 {
  font-size: 1.6rem;
  color:  #15345e;
  padding-left: 60px;
}

.linea-divisoria {
  height: 3px;
  width: 1400px; /* ajusta según gusto */
  background-color: var(--color-principal);
  margin: 10px 0 0 50px; /* separa del título y alinéala con el h2 */
  border-radius: 2px;
}


.destacados {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
  margin-top: 40px;
  padding: 0 20px;
}

.articulo-principal {
  background: #fff;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  border-radius: 10px;
}

.articulo-principal img {
  width: 100%;
  border-radius: 10px;
  height: auto;
  object-fit: cover;
}

.articulo-principal h2 {
  font-size: 1.6rem;
  margin-top: 15px;
  color: var(--color-principal);
}

.articulos-secundarios {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.tarjeta-mini {
  background: #fff;
  padding: 15px;
  box-shadow: 0 1px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
}

.tarjeta-mini img {
  width: 100%;
  border-radius: 8px;
  height: auto;
  object-fit: cover;
}

.tarjeta-mini h3 {
  font-size: 1rem;
  margin-top: 10px;
  color: #333;
}

.footer {
  background-color: #f0f0f0;
  padding: 40px 20px;
  margin-top: 60px;
  color: #333;
  text-align: center;
  border-top: 1px solid #ccc;
}

.footer h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #15345e;
}

.footer p {
  font-size: 16px;
  line-height: 1.6;
  max-width: 600px;
  margin: 0 auto;
}


